
/*  pointers  */

* {
  cursor: url('../../images/boxing_glove_32.png'), auto;
}

.square {
  cursor: url('../../images/boxing_glove_64.png'), auto;
}


.square:active {
  cursor: url('../../images/boxing_glove_128.png'), auto;
}

.background-image-none {
  background-image: none;
}