.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .90);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  line-height: 3em;
}

.modal h2 {
  background-color: #000000;
  margin-bottom: 20px;
  padding: 5vw;
}



.invisible {
  width: 0!important;
  height: 0!important;
  opacity: 0!important;
}

.display-none {
  display: none!important;
}